global:
  resolve_timeout: 1m
  slack_api_url: "{{  webhook_url  }}"

route:
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: {{  slck_channel  }}
    send_resolved: true